body *{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: white;
}

.vis-container {
    width: 90%;
}

.pure-g {
    margin-bottom: 5px;
}

.pure-u-1-2 {
    margin:auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pure-u-2-3 {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}