body *{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: lightgray;
}

.page {
    width: 650px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
}

.pure-g {
    margin-bottom: 20px;
}

.pure-u-1-2 {
    margin:auto;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pure-u-2-3 {
    margin: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}